body{
    background-color: aquamarine;
    text-align: left;
    background-image: url(https://st.depositphotos.com/1000848/1276/i/950/depositphotos_12766634-stock-photo-abstract-background-of-flowers.jpg);
    
}