body{
 
 background-image: url(https://www.telegraph.co.uk/content/dam/Travel/2020/February/kerridges-bar-and-grill-corinthia-hotel-restaurant-xlarge.jpg);
 background-position: right;
 background-repeat: no-repeat;


}
box2{ 
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5jef0v-62aFTj3CjSgkAfVkWOsZ7ssXQA7Q&usqp=CAU);
}

  
  

